@font-face {
    font-family: 'ValueSerif';
    font-weight: bold;
    src: url('../fonts/value-serif-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/value-serif-web.woff') format('woff'), url('../fonts/value-serif-web.ttf')  format('truetype'), url('../fonts/value-serif-web.svg#value-serif') format('svg');
}

@font-face {
    font-family: 'ValueMedium';
    font-weight: bold;
    src: url('../fonts/Value-Medium-Web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Value-Medium-Web.woff') format('woff'), url('../fonts/Value-Medium-Web.ttf')  format('truetype'), url('../fonts/Value-Medium-Web.svg#Value-Medium-Web') format('svg');
}


@font-face {
  font-family: 'CourierCode-Roman';
  src: url('../fonts/CourierCode-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/CourierCode-Roman.woff') format('woff'), url('../fonts/CourierCode-Roman.ttf')  format('truetype'), url('../fonts/CourierCode-Roman.svg#CourierCode-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'value-regular';
    src: url('../fonts/value-regular.eot');
    src: url('../fonts/value-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/value-regular.woff') format('woff'),
         url('../fonts/value-regular.woff2') format('woff2'),
         url('../fonts/value-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}