footer.row {

  .footer-item {
    img {
      max-width: 100%;
    }
  }

  .footer-logo img {
    max-width: 128px;
    margin-right: $grid-gutter-width;
  }

  @media (min-width: $screen-md-min) {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .footer-item {
      display: table-cell;
      vertical-align: bottom;
      float: none;
      padding-left: 0;
      padding-right: 0;

      * {
        margin: 0;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .footer-item {
      min-height: 90px;
      text-align: center !important;
    }

    .footer-logo {
      padding-bottom: 64px;
    }

  }
}
