.icon {
  background-image: url('../images/icons.png');
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 400% 200%;
  background-repeat: no-repeat;

  &:hover {
    background-position-y: -64px;
  }

  &.arrow-back {
    background-position-x: -64px;
  }

  &.arrow-forward {
    background-position-x: 0;
  }

  &.facebook {
    background-position-x: -128px;
  }

  &.instagram {
    background-position-x: -192px;
  }

}
