$icon-size: 50px;

.icon {
  background-image: url('../images/icons-2.png');
  position: relative;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-size: 500% 200%;
  background-repeat: no-repeat;

  &:hover {
    background-position-y: -$icon-size;
  }

  &.arrow-back {
    background-position-x: -$icon-size;
  }

  &.arrow-forward {
    background-position-x: 0;
  }

  &.facebook {
    background-position-x: - 2 * $icon-size;
  }

  &.instagram {
    background-position-x: - 3 * $icon-size;
  }

  &.twitter {
    background-position-x: - 4 * $icon-size;
  }

}
