$icon-size: 50px;

.icon {
  background-image: url('../images/icons-2.png');
  position: relative;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-size: 500% 200%;
  background-repeat: no-repeat;

  $negativeSize: -$icon-size;
  &.arrow-back {
    background-position: $negativeSize 0;
    &:hover {
      background-position: $negativeSize $negativeSize;
    }
  }

  &.arrow-forward {
    background-position: 0 0;
    &:hover {
      background-position: 0 $negativeSize;
    }
  }

  &.facebook {
    $position: - 2 * $icon-size;
    background-position: $position 0;
    &:hover {
      background-position: $position $negativeSize;
    }    
  }

  &.instagram {
    $position:- 3 * $icon-size;
    background-position: $position 0;
    &:hover {
      background-position: $position $negativeSize;
    }    
  }

  &.twitter {
    $position:- 4 * $icon-size;
    background-position: $position 0;
    &:hover {
      background-position: $position $negativeSize;
    }    
  }

}
