.link-item {
  padding-bottom: $grid-gutter-width;
  overflow: hidden;

  figure {
    height: 0px;
    padding-bottom: 40%;
    background-color: #eee;
  }

  .text-container {
    font-weight: bold;
  }

  .links-container {
    width: 100%;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: block;
    }
  }
}
