.parallax-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    transform: translate3d(0,0,0);

    img {
      width: 100%;
    }
  }

  .parallax-layer {
    width: 100%;
    height: 5000px;
    background-size: percentage(1/3);

    &:nth-child(even) {
      height: 4000px;
    }
  }
}

@media (max-width: $screen-md-min) {
  .parallax-wrapper {
    display: none;
  }
}
