#slider {
  position: relative;
  height: 0px;
  padding-bottom: 40%;
  background-color: rgb(231, 231, 231);
  width: 100%;
  overflow: hidden;

  @media (max-width: $screen-md-min) {
    height: 300px;
    padding-bottom: 0;
  }

  .slide-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300%;
  }

  .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    &:nth-child(even) {
      background-color: #e2e2e2;
    }
  }

  .slide-indicator-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .slide-indicator {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 6px;

      &.selected {
        background-color: rgba(255,255,255,0.5);
      }
    }
  }

  .slide-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      content: " ";
      width: 110px;
      height: 140px;
      background-image: url('../images/image-overlay.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 16px;
      bottom: 32px;

      @media (max-width: $screen-md-min) {
          width: 60px;
          height: 70px;
      }
    }
  }


}

.slider-wrapper {
  position: relative;
}

.slider-control {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  bottom: 0;
  line-height: 0;
  height: 64px;
  font-size: 64px;
  color: rgb(234, 48, 30);

  &:hover {
    cursor: pointer;
    color: lighten(rgb(234, 48, 30), 10);
  }
}

.slider-control-left {
  left: -64px;
}

.slider-control-right {
  right: -64px;
}


@media (max-width: 1300px) {
  .slider-control-right {
    right: 16px;
  }
  .slider-control-left {
    left: 16px;
  }

  .slider-control {
    color: rgb(234, 48, 30);
  }
}



.social-icons {
  position: absolute;
  top: 16px;
  right: -72px;
  font-size: 40px;
  text-align: center;

  i {
    padding-bottom: 8px;
    display: block;
  }
}
@media (max-width: 1300px) {
  .social-icons {
    right: 16px;
    z-index: 32;
  }
}

@media (max-width: $screen-md-min) {
  .social-icons {
    display: inline-block;
    left: 0; right: 0;
    width: 100%;

    i {
      display: inline-block;
    }
  }
}
