$icon-font-path: '../fonts/';
$grid-gutter-width: 32px;
$brand-primary: rgb(234, 48, 30);
$font-size-base: 14px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'fonts';
@import 'slider';
@import 'link-item';
@import 'footer';
@import 'header';
@import 'image-feed';
@import 'parallax';
@import 'icons';


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.main-container {
  padding: 0;
  position: relative;
  z-index: 1;
  background-color: white;

  >.container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .slider-container {
    padding-left: 0;
    padding-right: 0;
  }

}

html, body {
  font-family: 'ValueSerif';
  background-color:  rgb(249, 249, 249);
}

.main-text p, .links-container p {
  font-size: 18px;
}

section {
  margin: 40px 0;
}


@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'ValueMedium';
    color: $brand-primary;
  }
}

.main-text h2 {
  margin-top: 0;
}

a, .open-info, footer * {
  font-family: 'CourierCode-Roman';
}

strong {
  font-weight: bold;
}

.brand-primary {
  color: $brand-primary;
}

footer {
  margin: 40px 0;
  padding-bottom: 60px;
}

.social-icons {
  position: absolute;
  top: 16px;
  right: -72px;
  font-size: 40px;
  text-align: center;

  i {
    display: block;
  }
}
@media (max-width: 1300px) {
  .social-icons {
    position: relative;
    right: 0px;

    i {
      display: inline-block;
    }
  }
}
